* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flipClass {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.flip-1 {
  background-image: url(../beautiful-sunset-over-water-tree-silhouette-nature-landscape-amazing-orange-yellow-sky-night-scene-wallpaper-birds-flying-154424473.jpg);
}
.flip-2 {
  background-image: url(../download2.jpg);
}
.flip-3 {
  background-image: url(../images.jpg);
}
